
#
# X509 variables.
#
# 1. copy this template file x509.env
# 2. edit the x509.env file to your local needs
# 3. The x509.env file is normally git ignored. Edit the .gitignore file
#    if you want to check in the x509.env file

# 
# This file will be sourced into make-helm-client-cert.sh and make-tiller-server-cert.sh
# 

# DATE and USAGE is set from the caller 

C="<Your Country Code here>"
ST="<Your State/Province here>"
L="<Your Location/City here>"
O="<Your Organisation here>"
OU="<Your Organisational Unit here>"
CN="$O ${USAGE} ${DATE//[:-]/}"
MAIL="<Your Email Here>"

SUBJ="/C=$C/ST=$ST/O=$O/OU=$OU/CN=$CN/emailAddress=$MAIL"

